@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.page-title {
  @apply text-4xl font-bold md:text-6xl;
}

.page-subtitle {
  @apply text-2xl font-bold md:text-4xl;
}

.container {
  @apply mx-auto w-full p-8 md:w-2/3 lg:w-1/2;
}

.igroup {
  @apply my-2 flex flex-row justify-center gap-4;
}

.game-setup {
  & h1 {
    @apply my-3 text-2xl font-bold;
  }

  & h2 {
    @apply my-3 text-xl font-bold;
  }

  & label {
    @apply w-1/3 text-left;
  }

  & input {
    @apply rounded p-1 text-black;
  }
}
